.mContainer_curSong {
  width: 100%;
  height: var(--app-height);
  min-height: 100%;
  background-color: rosybrown;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.m_curSongTop {
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 5%;
  min-height: 5%;
  overflow-y: hidden;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 1.1px;
  padding-left: 2%;
}
.mContainer_curSong .returnPageBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 10%;
  height: 90%;
  color: white;
}

.mContainer_curSong .curSongInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 65%;
  background-color: black;
  padding: 10%;
}
.mContainer_curSong .curSongInfo img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 50%;
  border-radius: 50%;
}
.mContainer_curSong .curSongInfo .curSongInfo_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 30px;
  width: 100%;
  letter-spacing: 5px;
  text-shadow: rgba(255, 255, 255, 0.3) 2px 0px;
  text-align: center;
  height: 35%;
  color: white;
}
.mContainer_curSong .curSongInfo span:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 20px;
  width: 100%;
  letter-spacing: 1px;
  height: 15%;
  color: rgba(255, 255, 255, 0.6);
}
.mContainer_curSong .curSongPlayer {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mContainer_curSong .curSongPlayerBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}
.mContainer_curSong .player {
  width: 100%;
  height: 100%;
  background-color: black;
}
.rhap_container {
  padding: 0px;
}
.rhap_main {
  background-color: black;
  width: 100%;
  height: 100%;
}
.rhap_progress-section .rhap_current-time {
  color: white;
}
.rhap_progress-bar .rhap_progress-indicator {
  background-color: white;
  width: 0.01px;
  height: 3px;
  margin-left: 0px;
  top: 1px;
}
.rhap_progress-bar .rhap_progress-filled {
  background-color: white;
}
.rhap_progress-section .rhap_total-time {
  color: white;
}
.rhap_progress-bar .rhap_download-progress {
  visibility: hidden;
}
.rhap_additional-controls {
  visibility: hidden;
  display: block;
}
