@import "./styles/reset.css";
@import "./styles/topNavBar.css";
@import "./styles/choicedSinger.css";
@import "./styles/choicedSong.css";
@font-face {
  font-family: "BebasNeue";
  src: url("./font/BebasNeue-Regular.ttf");
}
:root {
  --vh: 100%;
  --vw: 100%;
  --app-height: 100%;
  --cus-font: "BebasNeue";
  --app-height-one: 100%;
}

* {
  box-sizing: border-box;
  touch-action: none;
  image-rendering: -webkit-optimize-contrast;
  text-size-adjust: none;
  font-family: var(--cus-font);
}
span {
  font-family: var(--cus-font);
}
html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  height: calc(var(--app-height) * 1.5);
  display: flex;
  font-size: 1px;
  background-color: yellowgreen;
}

.App {
  width: 100vw;
  height: 150vh;
  background-color: blue;
  overflow: hidden;
}

.m_App {
  display: flex;
  background-color: whitesmoke;
  width: 100vw;
  height: calc(var(--app-height) * 1.5);
  overflow: hidden;
  touch-action: none;
}
.mContainer {
  width: 100%;
  height: var(--app-height);
  min-height: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  touch-action: none;
}
/* .MobileBox {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  overflow-y: hidden;
} */
