@import "./styles/reset.css";
@import "./styles/topNavBar.css";
@import "./styles/choicedSinger.css";

:root {
  --vh: 100%;
  --vw: 100%;
  --app-height: 100%;
}

* {
  box-sizing: border-box;
  overflow: hidden;
  touch-action: none;
}
html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  height: var(--app-height);
  display: flex;
}

.App {
  width: 100vw;
  height: 150vh;
  background-color: blue;
  overflow: hidden;
}

.m_App {
  display: flex;
  background-color: whitesmoke;
  width: 100vw;
  height: var(--app-height);
  overflow: hidden;
  touch-action: none;
}
.mContainer {
  width: 100%;
  height: var(--app-height);
  min-height: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  touch-action: none;
}
/* .MobileBox {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  overflow-y: hidden;
} */
